.maingroup {
	position: relative;
	width: 980px;
	height: 570px;
	overflow: scroll;	
}

.maindiv {
	position: absolute;
	width: 980px;
	height: 570px;
	overflow: scroll;
}

.econode {
	margin-right:10px;
	position: relative;
	text-overflow: clip;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:5px;
	padding: 2px;
}

a.ecolink:visited {
	text-decoration: none;	
	color: black;
}

a.ecolink:hover {
	text-decoration: underline;
}
